[submodule "framework/playwright"]
	path = framework/playwright
	url = https://github.com/Saiid2001/playwright
[submodule "framework/AccountFramework"]
	path = framework/AccountFramework
	url = https://github.com/Saiid2001/login-security-landscape.git
